$main-black: #3C464E;

body {
	font-family: "Montserrat", sans-serif;
	font-weight: 400;
	font-size: 14px;
	color: $main-black;
	line-height: 1.6;
}

.container {
	width: 100%;
	max-width: 1230px;
	padding: 0 15px;
	margin: 0 auto;
	box-sizing: border-box;
}