@import './normalize/normalize.scss';

$main-black: #3C464E;



body {
	font-family: "Montserrat", sans-serif;
	font-weight: 400;
	font-size: 14px;
	color: $main-black;
	line-height: 1.4;


	height: 2000px; //del
}

.container {
	width: 100%;
	max-width: 1230px;
	padding: 0 15px;
	margin: 0 auto;
	box-sizing: border-box;
}

.header {

	display: flex;
	align-items: center;
	justify-content: flex-end;
	position: absolute;
	padding: 0 55px;
	width: 100%;
	height: 82px;
	font-size: 16px;

	&__link {
		margin-right: auto;
	}

	.nav {
		display: flex;
		align-items: center;

		&__link {
			color: $main-black;
			font-weight: 600;
		}

		&__item {
			margin-right: 52px;
		}
	}

	&__info {
		display: flex;

		&-item {
			margin-right: 34px;
			padding-left: 32px;
		}

		.location {
			background-image: url('../images/icons/pin-icon.png');
			background-repeat: no-repeat;
			background-position-y: center;
		}

		.timetable {
			background: url('../images/icons/time-icon.png') no-repeat left center;
		}
	}

	&__feedback-btn {
	}
}


.intro {
	background: url('../images/intro.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 100vh;
}

